@import "vars";

.homeHero {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  mask: url("/img/roundHero.svg");
  mask-size: cover;
  mask-position: -15px bottom;

  .heroInner {
    position: relative;
    z-index: 10;
    display: flex;
    height: 300px;
    width: 1200px;
    margin: 0 auto;

    h1 {
      color: white;
      font-size: 68px;
      padding-left: 400px;
      font-weight: 300;

      span {
        font-family: $headline;
        font-style: italic;
        font-weight: 600;
      }
    }
  }

  .heroCanvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
