@import "vars";

.homeHero {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  mask: url("/img/roundHero.svg");
  mask-size: cover;
  mask-position: 0 bottom;

  // Adjust height for smaller screens
  @include tabletDown {
    height: 55vh;
  }

  @include miniDown {
    height: 40vh;
  }

  .heroInner {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: $desktop;
    margin: 0 auto;

    // Make width flexible and add padding on smaller screens
    @include desktopDown {
      width: 90%; // Use a percentage to maintain space
      height: auto; // Let content dictate height
      padding: 0 15px; // Add side padding for smaller viewports
    }

    // Reduce height further for mobile to save screen space
    @include miniDown {
      width: 90%;
      height: 170px;
    }

    h1,
    h2 {
      position: relative;
      top: -250px;
      padding-left: 26vw;
      padding-right: 7vw;
    }

    h1 {
      color: white;
      font-size: 68px;

      font-weight: 300;
      margin: 0;
      display: block;

      span {
        font-family: $headline;
        font-style: italic;
        font-weight: 600;
      }

      // Adjust padding and font size for smaller screens
      @include middleDown {
        font-size: 48px;
        padding-left: 5vw; // Reduce padding
      }

      @include tabletDown {
        font-size: 40px;
        padding-left: 0; // Remove padding to let text align on tablet/mobile
        text-align: center; // Center text when padding is removed
        width: 100%; // Ensure it takes full width for centering
      }

      @include miniDown {
        font-size: 32px; // Mobile font size
        line-height: 1.2;
      }
    }
    h2 {
      color: white;
      font-size: 28px;
      line-height: 38px;
      font-weight: 300;
      display: block;

      span {
        font-family: $headline;
        font-style: italic;
        font-weight: 600;
      }

      // Adjust padding and font size for smaller screens
      @include middleDown {
        font-size: 38px;
        padding-left: 5vw; // Reduce padding
      }

      @include tabletDown {
        font-size: 30px;
        padding-left: 0; // Remove padding to let text align on tablet/mobile
        text-align: center; // Center text when padding is removed
        width: 100%; // Ensure it takes full width for centering
      }

      @include miniDown {
        font-size: 22px; // Mobile font size
        line-height: 1.2;
      }
    }
  }

  .heroCanvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
