@import "vars";

.outerContainer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.heroImage {
  transform: skew(0deg, 5deg);
  position: absolute;
  top: 100px;
  right: 325px;
  width: 400px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border: 10px solid white;

  @include maxDown(1600px) {
    right: 225px;
  }
  @include desktopDown {
    right: 125px;
  }
  @include middleDown {
    right: 0px;
  }
}

.portfolio,
.qualifications {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(95px, auto);
  }

  @include desktopDown {
    div.contain {
      width: 100%;

      .grid {
        padding: 0 $mobile;
      }
    }
  }

  @include tabletDown {
    div.contain {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

.qualifications {
  padding: 100px 0;
}
