.itemContent {
  max-width: 720px;
  margin: 150px auto 0 auto;

  color: gray;
  font-size: 28px;
  font-style: italic;
  line-height: 44px;

  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    line-height: 34px;
  }
}
