@import "../vars";

.pricing {
  // margin-top: 70px;
  margin-bottom: 120px;

  .inner {
    // width: $desktop;
    // margin: 0 auto;

    .header {
      text-align: center;
      margin-bottom: 25px;

      h2 {
        font-family: $headline;
        margin-bottom: 15px;
        font-size: 28px;
      }

      p {
        color: $textGrey;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    .tiers {
      display: flex;
      flex-direction: row;
      border: 2px solid #afafaf;
      border-radius: 5px;
      max-width: 800px;
      margin: 0 auto;

      .browse {
        width: 300px;
        border-right: 2px solid #afafaf;

        .tier {
          background: transparent;
          border-bottom: 2px solid #afafaf;
          padding: 15px 25px;
          cursor: pointer;
          position: relative;
          //   background-clip: text;
          //   -webkit-background-clip: text;

          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;

          &:before {
            background: linear-gradient(to right, $gold1, $gold2);
            transition: opacity 0.2s;
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            opacity: 0;
            z-index: 1;
          }

          .info {
            position: relative;
            z-index: 2;
          }

          h3 {
            font-size: 14px;
            margin: 0 0 5px 0;
            padding: 0;
            // font-weight: 400;
            text-transform: uppercase;
            // -webkit-text-fill-color: transparent;
          }
          p {
            font-size: 14px;
            padding: 0;
            margin: 0;
          }

          svg {
            position: relative;
            z-index: 2;
          }

          &:last-of-type {
            border-bottom: none;
          }

          &:hover {
            color: white;

            &:before {
              opacity: 1;
              transition: opacity 0.2s;
            }

            svg {
              color: white;
              fill: white;
            }
          }
        }
      }
      .details {
        padding: 25px;
        position: relative;
        width: calc(100% - 300px);

        .tierDetails {
          position: absolute;
          width: calc(100% - 50px);
        }

        h3 {
          font-size: 18px;
        }
        ul {
          list-style: none;
          padding: 0;
          display: grid;
          grid-gap: 10px;
          grid-template-columns: 1fr 1fr;
          width: 100%;

          li {
            font-size: 14px;
            display: flex;
            align-items: flex-start;

            svg {
              position: relative;
              top: 2px;
            }
            span {
              width: calc(100% - 34px);
              display: block;
              padding-left: 6px;
            }
          }
        }
      }
    }
  }
}
