@import "../sass/vars";

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background: $gold2;
  color: white;
}

.welcome {
  width: 40vw;
  padding-left: 5vw;
  margin: 50px auto;
  color: gray;
  font-size: 28px;
  font-style: italic;
  line-height: 44px;

  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    line-height: 34px;
  }
}
