@import "../sass/vars";

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background: $gold2;
  color: white;
}

// .welcome {
//   width: 40vw;
//   padding-left: 5vw;
//   margin: 50px auto;
//   color: gray;
//   font-size: 28px;
//   font-style: italic;
//   line-height: 44px;

//   @media only screen and (max-width: 900px) {
//     width: 100%;
//     padding: 0 20px;
//     font-size: 18px;
//     line-height: 34px;
//   }

//   a {
//     color: $gold2;
//   }
// }

.welcome {
  width: 1200px;
  // padding-left: 5vw;
  margin: 50px auto;
  color: gray;
  font-size: 22px;
  font-style: italic;
  line-height: 38px;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    line-height: 34px;
    
    > div {
      grid-template-columns: 1fr;
    }
  }

  a {
    color: $gold2;
  }
}

.faq {
  padding: 50px 15px;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;

  h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 25px;
    text-align: center;
  }

  .faq-item {
    margin-bottom: 25px;

    h3 {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }
}