.itemContent {
  max-width: 1200px;
  margin: 150px auto 0 auto;

  color: gray;
  font-size: 22px;
  font-style: italic;
  line-height: 38px;

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 900px) {
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
    line-height: 34px;
  }
}
